.team-detail-header {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (width >= 768px) and (width < 992px) {
  .team-detail-header {
    grid-template-columns: 1fr;
  }
}

@media screen and (width < 576px) {
  .team-detail-header {
    grid-template-columns: 1fr;
  }
}

.team-header-description {
  color: var(--ps-color-dimmed);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.team-detail-members {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
}

@media screen and (width >= 768px) {
  .team-detail-members {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (width >= 992px) {
  .team-detail-members {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (width >= 1199px) {
  .team-detail-members {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.team-detail-button {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  min-height: 36px;
}

.team-application-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
}
