.page-empty {
  align-items: center;
  color: var(--ps-placeholder-color, #adb5bd);
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  gap: 8px;
  height: 100%;
  justify-content: center;
  line-height: 16px;
  text-align: center;
  width: 100%;
}

.page-empty-text {
  padding-bottom: 8px;
}
