.definition {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  gap: 4px;
  line-height: 16px;
  text-align: left;
}

.definition + .definition {
  margin-top: 4px;
}

.definition-label {
  color: #adb5bd;
}

.definition-value {
  color: #212529;
}
