.form-application {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-areas: "label1  input1 "
                       "label2  input2"
                       "label3  input3"
                       "label4  input4"
                       "button1 button2";
  grid-gap: 20px;
  padding: 50px;
}

.header {
  grid-area: header;
  height: 50px;
}

.input1 {
  grid-area: input1;
}

.input2 {
  grid-area: input2;
}
.input3 {
  grid-area: input3;
}
.input4 {
  grid-area: input4;
}


.label1 {
  grid-area: label1;
} 
.label2 {
  grid-area: label2;
} 
.label3 {
  grid-area: label3;
} 
.label4{
  grid-area: label4;
} 
.button1 {
  grid-area: button1;
  min-height: 30px;
  background-color: #bbbbbb;
  border-radius: 5px;
  text-align: center;

} 
.button2 {
  grid-area: button2;
  min-height: 30px;
  background-color: #bbbbbb;
  border-radius: 5px;
  text-align: center;
} 
